/* ---- Estilos Proyecto ---- */

/* font-family: 'Arima Madurai', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Righteous', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&family=Comfortaa:wght@300;400;500;600;700&family=Righteous&display=swap');

/* Estilo de reseteo */
* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  color: #424251;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 130%;
  scroll-behavior: smooth; 
}

/* General */

a {
  text-decoration: none;
  color: #424251;
}

a:hover {
  font-weight: 600;
  color: #424251;
}

body {
  background-image: url("../public/fondo_juntitos_tn2.png");
}

h1 {
  text-transform: uppercase;
}

